# Ignore everything else in the root
/*

# Not ignore these folders:
!www
!hooks
!res

# Note that we don't want the different config.xml and package.json to be overwritten from either cordova or phonegap
# so, explicitely ignore this file which is different for phonegap / cordova
/package.json

# Not igrnore these files:
!/config.xml
!/screen.png
!/icon.png
!.gitignore
!/Readme*
!/config-cordova.xml
!/config-phonegap.xml
!/package.json-cordova
!/package.json-phonegap

!/.project
!/.bithoundrc


# Ignore anything in res folder which for phonegap is in www folder (put this at the end):
/www/res/*
