# Ignore everything else in the root
/*

# Not ignore these folders:

!www
!hooks


# and except these files:
# Note that we don't want the different config.xml and package.json to be overwritten from either cordova or phonegap

!.gitignore
!/Readme*
!/config-cordova.xml
!/config-phonegap.xml
!/.project
!/.bithoundrc


# Ignore anything in res folder which for phonegap is in www folder (put this at the end):
/www/res/*

