?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
  <string>Der Zugriff auf ihre Fotos erlaubt ihnen, das Hochladen eines Bildes zusammen mit ihrer Meldung.</string>
  <key>NSCameraUsageDescription</key>
  <string>Der Zugriff auf ihre Fotos erlaubt ihnen, das Hochladen eines Bildes zusammen mit ihrer Meldung.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Der Zugriff auf Ihren Standort erlaubt Ihnen, die Verortung ihrer Meldung.</string>
</dict>
</plist>
