<div id="detail" class="detail" ng-controller="listCtrl">

  <!-- listItem gets parsed in from llist.html -->

      <span class="iconInList" ng-class="categoryCssClass(listItem.properties.articleLabel)"></span>

      <small ng-class="categoryCssClassColor(listItem.properties.articleLabel)">{{listItem.properties.articleLabel}}</small>
      <small class="">{{listItem.properties.date}}</small>
      <small class="label " ng-class="typeCssClass(listItem.properties.type)">{{translateStatus(listItem.properties.type)}}</small>
        <h4>{{listItem.properties.title}}</h4>
<hr/>
      <p ng-bind-html="listItem.properties.note" class="note"></p>
      <!-- Image attachment -->
<hr/>
<div class="photo-map">
      <div class="col1">
        <!-- Mini Map -->
        <div id="miniMap" class="img-responsive"></div>
        <div class="address" ng-bind-html="listItem.properties.address"></div>
      </div><div class="col2">
        <img class="img-responsive "
          ng-src="{{linkForImg}}"
          />
    </div>
  </div>
  <!-- <h5>Kommentare</h5> -->
  <div class="comments">
    <script type="text/ng-template" id="commentsTree">
      <hr/>
      <small class="label" ng-class="typeCssClass(commentSingle.label)">
        {{commentSingle.label}}
      </small>
      <h5>{{commentSingle.title}}</h5>
      <p class="italic" ng-bind-html="commentSingle.note"></p>
      <div ng-repeat="commentSingle in commentSingle.response"  ng-include="'commentsTree'">
    </script>
    <!-- = comment.responses | orderBy: 'creation_date': true -->
     <div ng-repeat="commentSingle in comments"  ng-include="'commentsTree'"></div>
  </div>
</div>
