 <div id="report2" class="report">
      <div class="selectBox">
           <label>Bitte wählen Sie eine Kategorie aus.</label>
           <ul class="selectChooser list-group">
                <li class="list-group-item"
                    ng-repeat="item in listOfCategories"
                    ng-click="DataService.updateAppData('category.text',item.name,true)"
                    ng-class="{'active': item.name == appData.category.text}">
                    <span class="iconInList" ng-class="categoryCssClass(item.name)"></span>{{item.name}}
                </li>
           </ul>
      </div>
 </div>
<!--
<pre ng-if = "debug">
 Category: {{appData.category|json}}
 Mandatory completed: {{appData.report_mandatory_completed_counter|json}}
</pre>
 -->
