<div id="report6" class="report">

    <form name="forms.emailForm" novalidate>

      <label>Bitte geben Sie Ihre E-Mail-Adresse an:</label>
      <div class="input-group">
        <input id="email"
               name="Email"
               placeholder="Email"
               class="form-control"
               ng-model="appData.email.text"
               value="appData.email.text"
               spellcheck="false"
               ng-click="increaseDirtyness('email')"
               ng-blur="validateInput('email')"/>
         <span class="input-group-addon" ng-if="!validState('email')" ng-click="appData.email.dirty=2"><i class="fa fa-question not-ok" aria-hidden="true"></i></span>
         <span class="input-group-addon" ng-if="validState('email')"><i class="fa fa-check ok" aria-hidden="true"></i></span>
      </div>
      <span  class="text-danger clearfix" ng-show="(appData.email.dirty > 1) && (!validState('email'))">Bitte geben Sie eine gültige E-Mail-Adresse ein.</span>
      <p class="text">{{pageInfo.sendhint}} {{appData.email.text}}</p>
      <div class="checkbox">
        <label>
          <input
              type="checkbox"
              ng-model="appData.check_privacy_accepted.is_valid"
              ng-click="DataService.updateAppData('check_privacy_accepted.state','toggle')"/> Ich akzeptiere die
        </label>
          <a ng-click="changeView('info')">Datenschutzbestimmungen</a>.
      </div>

      <button ng-if="validState('report6')" class="center-btn btn btn-primary" ng-click="changeView('send')">ABSENDEN</button>
  </form>
</div>
<!--
 <pre ng-if = "debug">
  Mandatory completed (will update with next klick): {{appData.report_mandatory_completed_counter|json}}
  title: {{appData.title.text|json}}
  Email: {{appData.email|json}}
  Privacy check: {{appData.check_privacy_accepted|json}}
  -----------------------------------------------------
  Image: {{appData.image|json}}
</pre>
<pre ng-if = "debug && imageData.base64.length == 0">
 ImageData: {{imageData|json}}
</pre>
-->
