<div class="report" id="send" ng-controller="sendCtrl">

  <br><br>

  <div class="pageFeedback">

      <div ng-if="sendOK=='sending'">

          <strong>Bitte warten, die Daten werden übertragen...</strong>
          <progress max="100" class="row col-xs-11"  value="{{progress}}"></progress>
          <br/>{{progress}}%
          <!--ng-if="{{progressVisible}}"  -->
      </div>

      <div ng-if="sendOK!='sending'" >
        {{appData.messageOfSubmit}}
        <div ng-if="sendOK=='success'">
                <h2>Meldung gespeichert!</h2>
                <p>Vielen Dank für Ihre Meldung.</p>
                <p><strong>Wir haben Ihnen eine E-Mail mit einem Bestätigungslink gesendet.<br>
                Bitte klicken Sie auf den Link in der E-Mail, um das Anliegen zu veröffentlichen!</strong>
                <br/><br/>
              </p>

        </div>
      </div>
      <div class=""  ng-if="sendOK=='failed'">
        <button class="btn btn-personalized" ng-click="changeView('report_saved')"><i class="ti-reload" aria-hidden="true"></i> Zurück zur Eingabe</button>
        <br><br>
        <!-- <button class="btn btn-personalized" ng-click="closeApp()"><i class=" ti-close" aria-hidden="true"></i> App beenden</button> -->
        <br><br>
      </div>
      <div class=""  ng-if="sendOK=='success'">
        <button class="btn btn-personalized" ng-click="changeView('home')"> <i class="ti-reload" aria-hidden="true"></i> Zurück zum Anfang</button>
        <br><br>
        <!-- <button class="btn btn-personalized" ng-click="closeApp()"><i class=" ti-close" aria-hidden="true"></i> App beenden</button> -->
        <br><br>
      </div>

  </div>

</div>

<div ng-if="fake_send">
    <br><br>Fake Send set in properties.js -- not sending!
</div>


<!--
<pre ng-if="debug">
appData:
{{appData|json}}
imageData:
{{imageData|json}}
</pre>
 -->
