<!DOCTYPE html>

<html ng-controller="mainCtrl" ng-app="rootApp">

<head>
    <!--
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication

        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly

        * Disabled use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this, add 'unsafe-inline' to default-src

        * Enabling external JS: "script-src 'self' 'unsafe-inline' 'unsafe-eval"

    General Example:
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">

    Example for window 10:
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: ms-appdata: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

   Whitelisting protocols:

    style-src 'self' http://* https://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'"

    * The whitelist plugin enables http://cordova.apache.org in config.xml, adding dito server seems to be not necessary with the follwoing CSP:
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src * 'unsafe-inline'; media-src *; img-src * data: cdv:;;">

  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>

      <!-- LEAFLET STYLE -->
      <link rel="stylesheet" type="text/css" href="css/libs/leaflet.css" />
       <!-- Fix for missing tiles?
       <style> .leaflet-tile { visibility: visible!important }	</style>
      -->

      <link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-theme.min.css" />
      <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.min.css">

    <!-- custom -->
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" type="text/css" href="css/map.css" />
		<!-- <link rel="stylesheet" type="text/css" href="css/report.css" /> -->




<title>muehlmapp Demo</title>

</head>

<body>

<!--#####################################################################################-->
<!--vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv-->

<div ng-cloak>
  <nav class="navbar navbar-default navbar-fixed-top" ng-if="view.indexOf('report') < 0">
    <ul class="nav navbar-nav ">
      <li class="col-xs-3" ng-class="{'active': view == 'my'}" ng-click="updateView('my')"><a href="#!my"><i class="fa fa-lg fa-user-circle" aria-hidden="true"></i></a></li>
      <li class="col-xs-6" ng-class="{'active': view == 'report1'}" ng-click="updateView('report1')"><a class="text-center" href="#!report1">MELDEN</a></li>
      <li class="col-xs-3" ng-class="{'active': view == 'info'}" ng-click="updateView('info')"><a href="#!info"><i class="fa fa-lg fa-info-circle" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report1'">
    <ul class="nav navbar-nav ">
      <li class="col-xs-2" ng-class="{'active': view == 'home'}" ng-click="updateView('home')"><a href="#!home"><i class="fa fa-lg fa-times" aria-hidden="true"></i></a></li>
      <li ng-if="appData.report_mandatory_is_complete" class="col-xs-8" ng-click="updateView('send')"><a class="text-center" href="#!send">ABSENDEN</a></li>
      <li ng-if="!appData.report_mandatory_is_complete" class="col-xs-8 active" ><a class="text-center" href="#!send">{{hintMessage}}</a></li>
      <li class="col-xs-2" ng-class="{'active': view == 'report2'}" ng-click="updateView('report2')"><a href="#!report2"><i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report2'">
    <ul class="nav navbar-nav ">
      <li class="col-xs-2" ng-click="updateView('report1')"><a href="#!report1"><i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i></a></li>
      <li ng-if="appData.report_mandatory_is_complete" class="col-xs-8" ng-click="updateView('send')"><a class="text-center" href="#!send">ABSENDEN</a></li>
      <li ng-if="!appData.report_mandatory_is_complete" class="col-xs-8 active" ><a class="text-center" href="#!send">{{hintMessage}}</a></li>
      <li class="col-xs-2" ng-show="appData.category.is_valid" ng-click="updateView('report4')"><a href="#!report4"><i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
  <!-- not implemented: report3: Show list of nearby reports -->
  <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report4'">
    <ul class="nav navbar-nav ">
      <li class="col-xs-2" ng-click="updateView('report2')"><a href="#!report2"><i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i></a></li>
      <li ng-if="appData.report_mandatory_is_complete" class="col-xs-8" ng-click="updateView('send')"><a class="text-center" href="#!send">ABSENDEN</a></li>
      <li ng-if="!appData.report_mandatory_is_complete" class="col-xs-8 active" ><a class="text-center" href="#!send">{{hintMessage}}</a></li>
      <li class="col-xs-2" ng-click="updateView('report5')"><a href="#!report5"><i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report5'">
    <ul class="nav navbar-nav ">
      <li class="col-xs-2" ng-click="updateView('report4')"><a href="#!report4"><i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i></a></li>
      <li ng-if="appData.report_mandatory_is_complete" class="col-xs-8" ng-click="updateView('send')"><a class="text-center" href="#!send">ABSENDEN</a></li>
      <li ng-if="!appData.report_mandatory_is_complete" class="col-xs-8 active" ><a class="text-center" href="#!send">{{hintMessage}}</a></li>
      <li class="col-xs-2" ng-click="updateView('report6')"><a href="#!report6"><i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report6'">
    <ul class="nav navbar-nav ">
      <li class="col-xs-2" ng-click="updateView('report5')"><a href="#!report5"><i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i></a></li>
      <li ng-if="appData.report_mandatory_is_complete" class="col-xs-8" ng-click="updateView('send')"><a class="text-center" href="#!send">ABSENDEN</a></li>
      <li ng-if="!appData.report_mandatory_is_complete" class="col-xs-8 active" ><a class="text-center" href="#!send">{{hintMessage}}</a></li>
      <li class="col-xs-2" ></li>
    </ul>
  </nav>
</div>  <!-- ng-cloak -->

<!--#####################################################################################-->

<div id="viewport">

	 <div id="mapid" ng-show="view=='home'|| view=='map'||view=='report1'"></div>
	 <ng-view></ng-view>

</div>

<!--#####################################################################################-->

<div ng-cloak>
  <nav class="navbar navbar-default navbar-fixed-bottom" id="navBottom" ng-if="true">
    <ul class="nav navbar-nav">
      <li class="col-xs-3" ng-class="{'active': view == 'list'}" ng-click="updateView('list')"><a href="#!list"><i class="fa fa-lg fa-list" aria-hidden="true"></i></a></li>
      <li class="col-xs-6" ng-class="{'active': view == 'home'}" ng-click="updateView('home')"><a class="text-center" href="#!home">{{appTitle}}</a></li>
      <li class="col-xs-3" ng-class="{'active': view == 'map'}" ng-click="updateView('map')"><a href="#!map"><i class="fa fa-lg fa-map" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
</div>   <!-- ng-cloak -->

<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
<!--#####################################################################################-->

</body>


<!--  EXTERNAL JS -->
  <script type="text/javascript" src="js/extern/angular.min.js"></script>
  <script type="text/javascript" src="js/extern/angular-route.min.js"></script>
  <script type="text/javascript" src="js/extern/angular-sanitize.js"></script>

  <!-- <script type="text/javascript" src="cordova.js"></script> -->
  <!-- Init angular on Device Ready -->
  <!-- <script type="text/javascript" src="js/cordova/deviceready.js"></script> -->


  <!-- Make sure you put this AFTER Leaflet css: -->
  <script type="text/javascript" src="js/extern/leaflet.js"></script>
  <!--  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" -->
  <!--    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" -->
  <!--    crossorigin=""></script> -->

<!--  custom JS -->
  <script type="text/javascript" src="js/properties.js"></script>
  <script type="text/javascript" src="js/rootApp.js"></script>

  <script type="text/javascript" src="js/controller/main.js"></script>
  <script type="text/javascript" src="js/factory/factories.js"></script>
  <script type="text/javascript" src="js/service/services.js"></script>
  <script type="text/javascript" src="js/controller/send.js"></script>
  <script type="text/javascript" src="js/controller/my.js"></script>
  <script type="text/javascript" src="js/controller/list.js"></script>
  <script type="text/javascript" src="js/controller/info.js"></script>
  <script type="text/javascript" src="js/controller/error.js"></script>
  <script type="text/javascript" src="js/directive/directives.js"></script>


</html>
