<!DOCTYPE html>

<!-- angular initialized by deviceready, no ng-app="rootApp" here -->
<html ng-controller="mainCtrl">

<head>
  <!--
      * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication

      * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly

      * Disabled use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this, add 'unsafe-inline' to default-src

      * Enabling external JS: "script-src 'self' 'unsafe-inline' 'unsafe-eval"

  General Example:
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">

  Example for window 10:
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: ms-appdata: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

 Whitelisting  protocols:

  style-src 'self' http://* https://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'"

  * The whitelist plugin enables http://cordova.apache.org in config.xml, adding dito server seems to be not necessary with the follwoing CSP:


iOS: default-src 'self' gap://ready file://*


<meta http-equiv="Content-Security-Policy" content="img-src * blob: android-webview-video-poster: cdvphotolibrary:  'self' data: ws: wss://*; default-src * blob: 'self' gap: wss: ws: data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src * http: https: ws: wss://*;">

  <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-eval'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src * 'unsafe-inline'; media-src *; img-src * data: cdv:;">
-->

  <meta http-equiv="Content-Security-Policy" content="img-src * cdvfile: assets-library: gap: blob: android-webview-video-poster: cdvphotolibrary:  'self' data: ws: wss://*; default-src * blob: 'self' gap: wss: ws: data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src * http: https: ws: wss://*;">
  <meta charset="utf-8"/>
  <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/> -->
  <meta name="viewport" content="touch-action= manipulation, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>

  <!-- <meta name="format-detection" content="telephone=no"> -->

  <!-- LEAFLET STYLE -->
  <link rel="stylesheet" type="text/css" href="css/libs/leaflet.css" />
   <!-- Fix for missing tiles?
   <style> .leaflet-tile { visibility: visible!important }	</style>
  -->
  <link rel="stylesheet" type="text/css" href="css/libs/L.Control.Locate.css" />

  <link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-theme.min.css" />
<!--  <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="css/fonts/themify/themify-icons.css">

  <!-- generic css-->
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
	<link rel="stylesheet" type="text/css" href="css/map.css" />

  <!-- CUSTOM -->
  <link rel="stylesheet" type="text/css" href="css/muehlheim.css" />

  <title>{{appTitle}}</title>
</head>

<body>

  <!--#####################################################################################-->
  <!--vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv-->

  <div ng-cloak>

    <!-- this means we're coming from anywhere else than a "report*" view: -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="view.indexOf('report') < 0 && view != 'detail'">
      <ul class="nav navbar-nav">
        <li class="col-xs-2" ng-class="{'active': view == 'my'}" ng-click="changeView('howTo')"><i class="fa fa-lg fa-question-circle ti-help-alt" aria-hidden="true"></i></li>
         <!-- There is a problem with doing an initial report when route is updated before scope and this is a silly workaround: -->
        <li ng-if="appData.currentReportStep == '0'" class="col-xs-8 text-center btn add-report" ng-class="{'active': view == 'report1'}" ng-click="changeView('report1')">Neue Meldung&nbsp;<i class="ti-angle-right" aria-hidden="true"></i></li>
        <li ng-if="appData.currentReportStep != '0'" class="col-xs-8 text-center btn add-report" ng-class="{'active': view == 'report_saved'}" ng-click="changeView('report_saved')">Fortsetzen ({{appData.currentReportStep}}/5)&nbsp;<i class="ti-angle-right" aria-hidden="true"></i></li>
        <li class="col-xs-2 text-right" ng-class="{'active': view == 'info'}" ng-click="changeView('info')"><i class="fa fa-lg fa-info-circle ti-info-alt" aria-hidden="true"></i></li>
      </ul>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="view == 'detail'">
      <ul class="nav navbar-nav">
      <li class="col-xs-2" ng-click="changeView(fromWhichView, listItem, 'detail')"><i class="ti-angle-left" aria-hidden="true"></i></li>
       <!-- There is a problem with doing an initial report when route is updated before scope and this is a silly workaround: -->
      <li class="col-xs-8 text-center " >Detailansicht</li>
      <li class="col-xs-2 text-right"></li>
      </ul>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report1'">
      <ul class="nav navbar-nav ">
        <li class="col-xs-2" ng-class="{'active': view == 'home'}" ng-click="changeView('home')"><i class="fa fa-lg fa-times ti-close" aria-hidden="true"></i></li>
        <li class="col-xs-8 active text-center">{{hintMessage}}</li>
        <li class="col-xs-2 text-right" ng-class="{'active': view == 'report2'}" ng-click="changeView('report2')"><i class="fa fa-lg fa-arrow-right ti-angle-right" aria-hidden="true"></i></li>
      </ul>
    </nav>
    <!-- The report moves from report2 to report4 because we will have report3 some day (showing the nearby reports) -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report2'">
      <ul class="nav navbar-nav ">
        <li class="col-xs-2" ng-click="changeView('report1')"><i class="fa fa-lg fa-arrow-left ti-angle-left" aria-hidden="true"></i></li>
        <li class="col-xs-8 active text-center">{{hintMessage}}</li>
        <li class="col-xs-2 text-right disabled" ng-show="!appData.category.is_valid"><i class="fa fa-lg fa-arrow-right ti-angle-right" aria-hidden="true"></i></li>
        <li class="col-xs-2 text-right" ng-show="appData.category.is_valid" ng-click="changeView('report4')"><i class="fa fa-lg fa-arrow-right ti-angle-right" aria-hidden="true"></i></li>
      </ul>
    </nav>
    <!-- not implemented: report3: Show list of nearby reports -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report4'">
      <ul class="nav navbar-nav ">
        <li class="col-xs-2" ng-click="changeView('report2')"><i class="fa fa-lg fa-arrow-left ti-angle-left" aria-hidden="true"></i></li>
        <li class="col-xs-8 active text-center">{{hintMessage}}</li>
        <li class="col-xs-2 text-right" ng-click="changeView('report5')"><i class="fa fa-lg fa-arrow-right ti-angle-right" aria-hidden="true"></i></li>
      </ul>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report5'">
      <ul class="nav navbar-nav ">
        <li class="col-xs-2" ng-click="changeView('report4')"><i class="fa fa-lg fa-arrow-left ti-angle-left" aria-hidden="true"></i></li>
        <li class="col-xs-8 active text-center">{{hintMessage}}</li>
        <li class="col-xs-2 text-right disabled" ng-show="!(appData.title.dirty && validState('title')  && appData.note.dirty && validState('note'))"><i class="fa fa-lg fa-arrow-right ti-angle-right" aria-hidden="true"></i></li>
        <li class="col-xs-2 text-right" ng-show="(appData.title.dirty) && validState('title') && appData.note.dirty && validState('note')" ng-click="changeView('report6')"><i class="fa fa-lg fa-arrow-right ti-angle-right" aria-hidden="true"></i></li>
      </ul>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="view=='report6'">
      <ul class="nav navbar-nav ">
        <li class="col-xs-2" ng-click="changeView('report5')"><i class="fa fa-lg fa-arrow-left ti-angle-left" aria-hidden="true"></i></li>
        <li class="col-xs-8 active text-center">{{hintMessage}}</li>
        <!-- <li class="col-xs-2 text-right" ng-click="changeView('info')"><i class="fa fa-lg fa-question-circle ti-help-alt" aria-hidden="true"></i></li> -->
        <li class="col-xs-2 text-right" ng-if="validState('report6')" ng-click="changeView('send')"><i class="fa fa-lg fa fa-share-square-o ti-share" aria-hidden="true"></i></li>
        <li class="col-xs-2 text-right disabled" ng-if="!validState('report6')"><i class="fa fa-lg fa-arrow-right ti-angle-right" aria-hidden="true"></i></li>
      </ul>
    </nav>
  </div>  <!-- ng-cloak -->
  <!-- Alert -->
  <div class="alert-message" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" ng-click="closeAlert($index)">{{alert.msg}}</div>
  <!--#####################################################################################-->

  <div id="viewport">
     <div id="mapid" ng-show="map_view_active"></div>
  	 <!-- <div id="mapid" ng-show="view=='home'|| view=='map'||view=='report1'"></div> -->
  	 <ng-view></ng-view>
  </div>

  <!--#####################################################################################-->

  <div ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-bottom" id="navBottom" ng-if="view != 'detail'">
      <ul class="nav navbar-nav">
        <li class="col-xs-2" ng-class="{'active': view == 'list'}" ng-click="changeView('list')"><i class="fa fa-lg fa-list ti-list" aria-hidden="true"></i></li>
        <li class="col-xs-8 text-center">{{appTitle}}</li>
        <li class="col-xs-2 text-right" ng-class="{'active': view == 'map'}" ng-click="changeView('map')"><i class="fa fa-lg fa-map ti-map-alt" aria-hidden="true"></i></li>
      </ul>
    </nav>
  </div>   <!-- ng-cloak -->

  <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
  <!--#####################################################################################-->

</body>

<script type='application/javascript' src="js/extern/fastclick.js"></script>
<script type='application/javascript'>
if ('addEventListener' in document) {
	   document.addEventListener('DOMContentLoaded', function() {
		     FastClick.attach(document.body);
	   }, false);
}
</script>

<!--  ANGULAR -->
<!-- Need to load first  -->
<script type="text/javascript" src="js/extern/angular.min.js"></script>
<script type="text/javascript" src="js/extern/angular-route.min.js"></script>
<script type="text/javascript" src="js/extern/angular-sanitize.js"></script>

<!-- LEAFLET -->
<!-- Make sure you put this AFTER Leaflet css: -->
<script type="text/javascript" src="js/extern/leaflet.js"></script>
<!--  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" -->
<!--    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" -->
<!--    crossorigin=""></script> -->
<script type="text/javascript" src="js/extern/L.Control.Locate.js"></script>
<!--  custom JS -->
<script type="text/javascript" src="js/rootApp.js"></script>
<script type="text/javascript" src="js/controller/main.js"></script>
<script type="text/javascript" src="js/factory/MapFactory.js"></script>
<script type="text/javascript" src="js/factory/DataFactory.js"></script>
<script type="text/javascript" src="js/service/DataService.js"></script>
<script type="text/javascript" src="js/service/DeviceService.js"></script>
<script type="text/javascript" src="js/service/NetworkService.js"></script>
<script type="text/javascript" src="js/controller/send.js"></script>
<script type="text/javascript" src="js/controller/my.js"></script>
<script type="text/javascript" src="js/controller/howTo.js"></script>
<script type="text/javascript" src="js/controller/list.js"></script>
<script type="text/javascript" src="js/controller/info.js"></script>
<script type="text/javascript" src="js/controller/error.js"></script>
<script type="text/javascript" src="js/directive/directives.js"></script>

<!-- CORDOVA and APP INIT on device ready -->
<!-- These scripts need be loaed in this order, and after cordova.js -->
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/properties.js"></script>
<script type="text/javascript" src="js/deviceready.js"></script>
<!-- angular support for cordova file plugin: -->
<!-- <script type="text/javascript" src="js/cordova/ng-cordova.js"></script> -->
<!-- See http://ngcordova.com/build -->

</html>
