/*body {padding-top: 40px; }*/
body {padding-top: 50px; }
/*********************************************/
/***************     map      ****************/
/*********************************************/
.leaflet-popup-content-wrapper{
	border-radius: 0px;
}
#mapid {
	position: relative;
	/*height:calc(100vh - 90px);/*-90px correspond to the topbar 40 + bottom bar 50*/
	height:calc(100vh - 100px);
	width:100%;
	}
#miniMap {
	position: relative;
	height:175px;
	width:100%;
	}

.mapSelect:before, .mapSelect:after {
  content: '';
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 35%;
  right: 35%;
  z-index: 999;
  pointer-events: none;
}
.mapSelect:before {
  bottom: 50%;
  border-bottom: 3px #0000FF solid;
}
.mapSelect:after {
  right: 50%;
  border-right: 3px #0000FF solid;
}
/*********************************************/
/************     marker      ****************/
/*********************************************/
div.leaflet-div-icon-ont.defaultmap-icon,
.marker.leaflet-marker-icon {
	margin:0px;
	background-repeat: no-repeat;
	width: 24px;
	height: 31px;
	position: absolute;
	top: -31px;
	left: -11px;
	zoom:1;
}
.center-btn {
  position: absolute; /* postulat */
  top: 50%; left: 50%; /* to 50%/50% of the parent */
  transform: translate(-50%, -50%); /* move to 50% of (own)element size */
}
div.fa.currentPossition{
	font-size: 2.5em;
	font-weight: bolder;
	position: absolute;
	top: -22px;
	left: -18px;
	color:green;
}
.iconInList {
    background: url('cssImg/markers-soft-480.png') no-repeat -456px 0; /* dark grey marker as default if no other */
		display: block ;
    margin-left: 10px;
    width: 24px;
		margin-right: 15px;
		margin-top: -5px;
		min-height: 31px;
		float: left;
}
#list.list-group .iconInList {
	margin-top: 10px;
}
.color-1{
	color:#d33d2a;
}
.color-2{
	color:#f69730;
}
.color-3{
	color:#72b026;
}
.color-4{
	color:#38a9dc;
}
.color-5{
	color:#d252b9;
}
.color-6{
	color:#a23336;
}
.color-7{
	color:#0067a3;
}
.color-8{
	color:#728224;
}
.color-9{
	color:#5b396b;
}
.color-10{
	color:#436978;
}
/* default icon, if no other */
div.defaultmap-icon, .cat-0 {
	background: url('cssImg/markers-soft-480.png') no-repeat -456px 0; /* dark gray marker as default if no other */
}
.cat-1{
    background: url('cssImg/markers-soft-480.png') no-repeat 0px 0;
}
.cat-2 {
    background: url('cssImg/markers-soft-480.png') no-repeat -24px 0;
}
.cat-3 {
    background: url('cssImg/markers-soft-480.png') no-repeat -48px 0;
}
.cat-4 {
    background: url('cssImg/markers-soft-480.png') no-repeat -72px 0;
}
.cat-5 {
    background: url('cssImg/markers-soft-480.png') no-repeat -96px 0;
}
.cat-6 {
    background: url('cssImg/markers-soft-480.png') no-repeat -120px 0;
}
.cat-7 {
    background: url('cssImg/markers-soft-480.png') no-repeat -144px 0;
}
.cat-8 {
    background: url('cssImg/markers-soft-480.png') no-repeat -168px 0;
}
.cat-9 {
    background: url('cssImg/markers-soft-480.png') no-repeat -192px 0;
}
.cat-10 {
    background: url('cssImg/markers-soft-480.png') no-repeat -216px 0;
}
.cat-11 {
    background: url('cssImg/markers-soft-480.png') no-repeat -240px 0;
}
.cat-12 {
    background: url('cssImg/markers-soft-480.png') no-repeat -264px 0;
}
.cat-13 {
    background: url('cssImg/markers-soft-480.png') no-repeat -288px 0;
}
.cat-14 {
    background: url('cssImg/markers-soft-480.png') no-repeat -312px 0;
}
