@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('OpenSans'), url(fonts/Open_Sans/opensans.woff2) format('woff2');
}

@font-face {
	font-family: 'proximanovalight';
	src: url('fonts/proximanovalight/proximanovalight.eot');
	src: local('proximanovalight'), url('fonts/proximanovalight/proximanovalight.woff') format('woff'), url('fonts/proximanovalight/proximanovalight.ttf') format('truetype');
}

body, .leaflet-container {
  font-family: Arial, Helvetica, 'proximanovalight','Open Sans', Verdana, sans-serif;
  color: #333;
}

a {
  color: #C40046;
  line-height: inherit;
  text-decoration: none;
}

a:hover, a:focus {color: #a6033d; text-decoration: none;}
a:focus {background: none;}

/* customize icon set font-size */
[class^="ti-"], [class*=" ti-"] {
  font-size: 1.3em;
}
.navbar.navbar-fixed-top .nav li.btn [class^="ti-"],
.navbar.navbar-fixed-top .nav li.btn [class*=" ti-"],
.leaflet-popup-content [class^="ti-"],
.leaflet-popup-content [class*=" ti-"],
.btn-personalized [class^="ti-"],
.btn-personalized [class*=" ti-"],
.leaflet-bar [class^="ti-"],
.leaflet-bar [class*=" ti-"] {
 font-size: 1.0em;
}

.navbar.navbar-fixed-bottom [class^="ti-"], .navbar.navbar-fixed-bottom [class*=" ti-"] {
 font-size: 1.5em;
 color: #666666;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
   background: none;
   /* background: rgba(96, 0, 70, .5); */
   border-color: #C40046;
   text-shadow: none;
   color: #333333;
}

.btn, .btn-default, button {
  color: #ffffff;
  background: none;
  background-color: #C40046;
  border-color: #FFFFFF;
  border-radius: 0;
}

.btn-group-vertical button.btn-default {
   background: none;
   border-color: #C40046;
   text-shadow: none;
   color: #333333;
  border-radius: 0;
}
progress[value] {
  color : #A6033D;
}
progress::-moz-progress-bar { background:  #A6033D; }
progress::-webkit-progress-value { background:  #A6033D; }
.btn.add-report {
  background: none;
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  background-color: #A6033D;
  border-color: #FFFFFF;
  border-radius: 0;
}
.btn-default:active,
.btn-default.active {
  background-color: #5e0022 ;
}

.navbar.navbar-fixed-top .nav li.btn {
    padding-left: 0px;
}

.navbar-fixed-bottom li.text-center {
  color:#c40046;
}
.navbar-fixed-top .navbar-nav{
  background-color: #c40046;
  color: #ffffff;
}
