.report .btn-personalized{
  background-color: #c40046;
  color:#fff;
}
.btn.add-report{
  border: none;
  background: #a3003c;
 background-image: -webkit-linear-gradient(top, #a3003c, #fa0a62);
 background-image: -moz-linear-gradient(top, #a3003c, #fa0a62);
 background-image: -ms-linear-gradient(top, #a3003c, #fa0a62);
 background-image: -o-linear-gradient(top, #a3003c, #fa0a62);
 background-image: linear-gradient(to bottom, #a3003c, #fa0a62);
 -webkit-border-radius: 12;
 -moz-border-radius: 12;
 border-radius: 12px;
 text-decoration: none;
}
.navbar-fixed-bottom li.text-center {
  color:#c40046;
}
.navbar-fixed-top .navbar-nav{
  background-color: #c40046;
  color:#fff;
}
mapSelect:after,
mapSelect:before {
  border-color: #a3003c;
}
