@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/Open_Sans/opensans.woff2) format('woff2');
}

body, .leaflet-container {
  font-family: 'Open Sans', Verdana, sans-serif;
  color: #333;
}

/* customize icon set font-size */
[class^="ti-"], [class*=" ti-"] {
  font-size: 1.3em;
}
.navbar.navbar-fixed-top .nav li.btn [class^="ti-"],
.navbar.navbar-fixed-top .nav li.btn [class*=" ti-"],
.leaflet-popup-content [class^="ti-"], 
.leaflet-popup-content [class*=" ti-"],
.btn-personalized [class^="ti-"],
.btn-personalized [class*=" ti-"] {
 font-size: 1.0em;
}

.navbar.navbar-fixed-bottom [class^="ti-"], .navbar.navbar-fixed-bottom [class*=" ti-"] {
 font-size: 1.5em;
 color: #666666;
}

.btn.add-report {
  background: none;
  border: none;
}

.report .btn-personalized, .btn.add-report-popup {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #b0003f;
  background-image: -moz-linear-gradient(top, #c40046, #910034);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c40046), to(#910034));
  background-image: -webkit-linear-gradient(top, #c40046, #910034);
  background-image: -o-linear-gradient(top, #c40046, #910034);
  background-image: linear-gradient(to bottom, #c40046, #910034);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc40046', endColorstr='#ff910034', GradientType=0);
  border-color: #910034 #910034 #450018;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #910034;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
/*
.btn.add-report:hover,
.btn.add-report:focus,
.btn.add-report:active,
.btn.add-report.active,
.btn.add-report.disabled,
.btn.add-report[disabled] {
  color: #ffffff;
  background-color: #910034;
  *background-color: #78002b;
}
.btn.add-report:active,
.btn.add-report.active {
  background-color: #5e0022 ;
}
*/


.navbar.navbar-fixed-top .nav li.btn { 
    padding-left: 0px;
}

.navbar-fixed-bottom li.text-center {
  color:#c40046;
}
.navbar-fixed-top .navbar-nav{
  background-color: #c40046;
  color: #ffffff;
}
mapSelect:after,
mapSelect:before {
  border-color: #a3003c;
}
