/* bootup messages */

div.text-device-error {
  background-color: #fe9585;
}

div.text-device-ok {
  background-color: green;
}

div.deviceMessage {
  width:90vw;
  height:22vh;
  display:inline-block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  border-radius: 10px;
  border-style: groove;
}

div.deviceMessageInner {
  font-family: sans;
  font-size: 16px;
  font-weight: 500;
  text-align:center;
  vertical-align:middle;
  width:90%;
  height:80%;
  display:inline-block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
}
.form-catch-top-comment{
  display: none;
}

ul.list-group{
  margin-bottom: 50px;
}

.info .btn-group .btn {
  width:100%;
  margin-top: 15px;
}
.info .btn-group .btn.selected{
    color: #333;
    border-color: #171212;
}
/* NAV */
#viewport {
  margin: 0 5px 0 5px;
}

li.disabled {
  color:#ccc;
}
.nav.navbar-nav {
  width:100%;
}

.nav li  {
    padding-top: 15px;
    padding-bottom: 11px;
    /*border:2px red solid;*/
}


/* nav center buttons */

li.text-center {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}


.navbar-fixed-top li.text-center {
  font-size:16px;
}

/* bottom center = app title */
.navbar-fixed-bottom li.text-center {
  font-size:16px;
  color:green;
}


/* DETAIL */

div.detail {
  margin: 5px
}

.info .modal-header,
.info .panel-default,
.howTo .modal-header,
.howTo .panel-default,
.howTo .modal-footer{
  display: none;
}

/* REPORT */
div.report .btn-group-vertical{
  width:100%;
}

.report {
  font-size:1em;
}

div.pageFeedback {
  position: relative;
  top:2vh;
  padding: auto;
  background-color:inherit;
}

/* IMAGE */
div.previewBox {
	text-align:center;
	padding: 10px 5px 0px 5px;
}

#imgAttchPreview {
	max-height:65vh;
	max-width:100%;
}


/* INPUT TEXT */

/* input validation colors */
/*.form-control {
  border: 1px solid #27a000;
}
.text-danger {
  color: #1990;
}
*/

.report label {
  margin:20px 0 10px 0;
}

#email {
  text-indent:10px;
}

#report5 #report6 .input-group-addon {
  background-color: none;
}

i.ok {
 color:green;
}

i.not-ok {
  color:darkorange;
}

/*  checkbox */
/*.report input[type=checkbox] { background: lightblue; }
.report input[type=checkbox]:checked { background: green; }*/

#send .pageFeedback {
  top:1vh;
  padding:0 20px 0 20px;
  color:green;
  background-color:inherit;
  font-size: 1em;
}


#send .buttonBox {
  width:100%;
  display:inline-block;
  position:relative;
  top:40px;
  right:20px;
  bottom:0;
  left:0;
  margin: auto;
  color:black;
  font-family: sans;
  font-size: 14px;
  font-weight: 500;
  text-align:center;
  vertical-align:middle;
}
