.nav.navbar-nav {
  width:100%;
}

.nav li  {
    margin-top: 15px;
}

/* center buttons */


li.text-center {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}


.navbar-fixed-top li.text-center {
  font-size:1.2em;
}

/* app title */
.navbar-fixed-bottom li.text-center {
  font-size:1.3em;
  color:green;
}


div.report .btn-group-vertical{
  width:100%;
}

div.detail{
  margin: 5px
}

.info .modal-header,
.info .panel-default{
  display: none;
}

/* input validation colors */
/*.form-control {
  border: 1px solid #27a000;
}
.text-danger {
  color: #1990;
}
*/
